<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition App</title>
    <link rel="stylesheet" href="static\index.css">
</head>
<body>
    <div class="overlay">
        <div class="container">
            <h1>Welcome to Smart Attendance System</h1>
            <button onclick="window.location.href='/capture_image'" class="btn">Capture Face</button>
            <button onclick="window.location.href='/start_attendance'" class="btn">Start Attendance</button>
        </div>
    </div>
</body>
</html>
